.wrapper{
    width: 400px;
    padding:30px 20px;
    margin-top: 40px;
    border-radius: 10px;
    background: rgb(47,47,47);
    background: linear-gradient(0deg, rgba(47,47,47,0.6194852941176471) 100%, rgba(0,0,0,0.773546918767507) 100%);
}