.skill {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:20px
}

.name {

    text-align: center;
    padding: 55px 0;
    font-size: 36px;
    font-weight: 900;
}

.text {

    font-size: 24px;
    max-width: 230px;
    padding-bottom: 55px;
}

.avatar {
    display: flex;
    justify-content: center
}

.avatarI {
    height: 100px;
    width: 100px;
}
.MuiLinearProgress-barColorPrimary {
    background-color: #00f8ff;
}
