.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 200px 0
}

.text {
    border-bottom: 6px solid #dddddd;
    border-radius: 5px;
    color: #919191;
    padding-bottom: 15px;
}

.text h1 {
    color: #919191;
    letter-spacing: .04em
}

.h1 {
    font-size: 39px;
}

.box_text p {
    color: #c6c6c6;
    font-size: 26px;
    text-align: left;
    letter-spacing: .05em;
    max-width: 500px;
    padding: 30px 0
}

.box_img {
    animation: boxyRotation running;
    animation-duration: 2s;
    transition: 0.5s;
    box-shadow: 15px 15px 3px rgba(0, 0, 0, 0.44);
    height: 400px;
    width: 500px;
    border-radius: 100px
}

.box_img:hover {
    transform: scale(1.1)
}

.hover_img {
    display: flex
}

@keyframes boxyRotation {
    from {
        transform: rotate(0deg)

    }
    to {
        transform: rotate(359deg)
    }
}

@media screen and (max-width: 575px) {

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 100px 0;
        flex-direction: column
    }

    .text {
        border-bottom: 6px solid #dddddd;
        border-radius: 5px;
        color: #919191;
        padding-bottom: 15px;
    }

    .text h1 {
        color: #919191;
        letter-spacing: .04em
    }

    .h1 {
        font-size: 39px;
    }

    .box_text p {
        color: #c6c6c6;
        font-size: 26px;
        text-align: left;
        letter-spacing: .05em;
        max-width: 500px;
        padding: 30px 0
    }

    .box_img {
        animation: boxyRotation running;
        animation-duration: 2s;
        transition: 0.5s;
        box-shadow: 15px 15px 3px rgba(0, 0, 0, 0.44);
        height: 200px;
        width: 200px;
        border-radius: 20px;

    }
    .box_text{
        order: 2;
    }
    .hover_img {
        order: 1;
        padding-bottom: 50px;
    }

    .box_img:hover {
        transform: scale(1.1)
    }

    .hover_img {
        display: flex
    }
}



