
.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 150px 0 200px 0;
    max-width: 1400px;
    margin: 0 auto;
    /*border: 1px solid #000*/
}

.main {
    /*background-color: #10121b;*/
    /*!*background-image: url('https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80');*!*/
    /*background-position: center;*/
    /*background-size: cover;*/
    padding-top: 70px;
}



.h1 {
    font-size: 44px;
    line-height: 50px;
    font-weight: 700;
}

.myInfo {
    color: #888;
    float: left;
    display:block
}

.ul {
    display: flex;

    flex-direction: column;

    border: 1px solid #fff;
    padding-left: 10px;
    font-size: 20px;
    line-height: 24px;
    float: left;
    font-family: Roboto Mono, monospace;
}

.ul li span {
    padding-left: 100px;
    float: left;
}

.ul li {
    display: flex;
    /*align-items: center;*/
    padding: 20px 0;
    text-align: center;
    float: left;
    align-items: center;
    border: 1px solid;

}

.box_text {
    border: 1px solid;
    width: 400px
}

.box_text p {
    color: #c6c6c6;
    font-size: 26px;
    text-align: left;
    letter-spacing: .05em;
    max-width: 500px;
    padding: 30px 0
}

.box_img {
    animation: boxyRotation running;
    animation-duration: 2s;
    transition: 0.5s;
    box-shadow: 15px 15px 3px rgba(0, 0, 0, 0.44);
    height: 600px;
    width: 400px;
    border-radius: 100px;
    background-position: -60px center;
    background-size: cover;
    background-repeat: no-repeat;
}

.box_img:hover {
    transform: scale(1.1)
}


@keyframes boxyRotation {
    from {
        transform: rotate(0deg)

    }
    to {
        transform: rotate(359deg)
    }
}

@media screen and (max-width: 575px) {

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 100px 0;
        flex-direction: column
    }



    .h1 {
        font-size: 39px;
    }

    .box_text p {
        color: #c6c6c6;
        font-size: 26px;
        text-align: left;
        letter-spacing: .05em;
        max-width: 500px;
        padding: 30px 0
    }

    .box_img {
        animation: boxyRotation running;
        animation-duration: 2s;
        transition: 0.5s;
        box-shadow: 15px 15px 3px rgba(0, 0, 0, 0.44);
        height: 200px;
        width: 200px;
        border-radius: 20px;

    }

    .box_text {
        order: 2;
    }

    .hover_img {
        order: 1;
        padding-bottom: 50px;
    }

    .box_img:hover {
        transform: scale(1.1)
    }

    .hover_img {
        display: flex
    }
}



