.header {
    /*background-color:#94ff74;*/

}
.wrapper {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    border:1px solid
}

.nav {
    width: 550px;
    display: flex;
    justify-content: space-between;
}

.a {
    color: #cdcdcd;
    font-size: 25px;
    font-weight: 600;
    font-style: italic;
    /*margin-right: 30px;*/
    position: relative;
    transition: all .4s ease-in-out
}

a:hover {
    color: #fff;
}

.a::after {
    position: absolute;
    content: "";
    width: 0%;
    height: 4px;
    background-color: #2239d2;
    left: 50%;
    bottom: -10px;
    transition: all 0.4s ease-in-out;
}
.active::after {
    position: absolute;
    content: "";
    width: 0%;
    height: 4px;
    background-color: #2239d2;
    left: 50%;
    bottom: -10px;
    transition: all 0.4s ease-in-out;
}
.a:hover:after {
    width: 100%;
    left: 0;
}

.burger {
    display: none
}
.active:after{
    width: 100%;
    left: 0;
}
@media screen and (max-width: 575px) {
    .burger {
        display: flex
    }

    .nav {
        width: 350px;

        justify-content: space-between;

    }

    .a {
        color: #cdcdcd;
        font-size: 17px;
        font-weight: 600;
        font-style: italic;
        /*margin-right: 30px;*/
        position: relative;
        transition: all .4s ease-in-out
    }



    .a::after {
        position: absolute;
        content: "";
        width: 0%;
        height: 4px;
        background-color: #2239d2;
        left: 50%;
        bottom: -10px;
        transition: all 0.4s ease-in-out;
    }

    .a:hover:after {
        width: 100%;
        left: 0;
    }
}


