.footer {

    /*background: rgb(108, 108, 108);*/
    /*background: linear-gradient(0deg, rgba(108, 108, 108, 1) 52%, rgba(0, 0, 0, 1) 100%);*/


    background-color:#6c98ff
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    max-width: 1400px;
    margin: 0 auto;
    height: 10vh;
    width: 100%;
}
.left {

    width: 150px;
    display: flex;
    align-items:center;
    justify-content: space-around;
}


